body {
  margin: 15px;
  border:15px solid #4B7268;
  border-top-style: none;
  border-bottom-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainpage {
  font: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleText {
  color: #4B7268;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.clipart-container {
  align-self: center;
  padding: 20px;
  padding-top: 50px;
}
#clipart {
  height: auto;
  width: 400px;
  border-radius: 7px;
}
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formfield {
  margin: 10px;
}

.logoutbutton {
  position: absolute;
  top: 10px;
  right: 25px;
  width: auto;
}

.moodbuttonholder {

}

#mood{
  height: 150px;
  width: auto;
  padding: 0px 20px;
}

.journal {
  display: flex;
}
.journalelement {
  width: 50%;
  margin: 60px 20px;
  overflow-wrap: break-word;
}
.spotify{
  margin-top: 5%;
  text-align: center;
}
.smallText{
  position: absolute;
  right: 10px;
  width: auto;
}
.date {
  top: 5px;
  font-style: italic;
}
.moodTag {
  top: 25px;
  width: 25px;
  height: auto;
  font-size: 1.5em;
}
.entryTitle {
  margin-top: 30px;
}
.topsection {
   padding: 5%;
   text-align: center;
}
.proftopsection {
  padding: 0%;
}
.toppadding {
   padding-top: 5%;
}
.questionfield {
  padding-bottom: 1%;
}
#fader {
  -webkit-appearance: none;
  width: 300px;
  height: 25px;
  margin-top: 2px;
  background: #E5E5E5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#fader:hover {
  opacity: 1;
}

#fader::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4B7268;
  cursor: pointer;
}

.formelement {
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
}
#loginpic {
  width: 350px;
  margin-top: 10px;
}
#noentriespic {
  width: 150px;
  margin: 0px;
}
.noentries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.next-button
{
  margin: auto;
  position: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 4%;
  margin-bottom: 60px;
  border: solid #4B7268;
  border-width: 0 10px 10px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.prev-button
{
  margin: auto;
  position: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 7%;
  margin-bottom: 5%;
  border: solid #4B7268;
  border-width: 0 10px 10px 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.searchbar{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
.searchcontainer {
  width: 100%;
  border-color: #4B7268;
  margin-top: 42px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-gap: 10px;
}
.moodselect {
  width: 100%;
  font-size: 150%;
  color: #4B7268;
  border-style: none;
  border-color: #ced4d9;
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 15px;

}
.mood-content{
  display: flex;
  text-align: left;
}
.moodelem{
  text-align: center;
  margin-top: 2px;
  margin-right: 10px;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  border: 2.5px solid #FAF790;
  border-radius: 30px;
}

.emojiSelect{
  height: 30px;
  width: 30px;
  margin-top: 0px;
}

.newentry{
  margin: 20px;
}

.subheader {
  text-align: center;
  margin-top: 10px;
}
.moodtext{
  text-align: center;
  margin-top: 10px;
  margin-left: 2px;
  color: #4B7268;
}
.subheader-bold {
  color: #4B7268;
  font-weight: bold;
}

#formbody {
  height: 200px;
}

.currvalue {
  color: #4B7268;
  font-weight: bold;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 0px;
}

.top {
  position: absolute;
  top: 0px;
}
